In [1]:
import pandas as pd
import numpy as np

In [10]:
# 讀檔
df=pd.read_csv("C:/BlackFriday.csv")

In [11]:
# 檢視資料
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

### 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料

In [13]:
# 537577row,12 column
df.shape

(537577, 12)

In [15]:
# 數值型欄位統計值彙總
df.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.375770e+05,537577.00000,537577.000000,537577.000000,370591.000000,164278.000000,537577.000000
mean,1.002992e+06,8.08271,0.408797,5.295546,9.842144,12.669840,9333.859853
std,1.714393e+03,6.52412,0.491612,3.750701,5.087259,4.124341,4981.022133
min,1.000001e+06,0.00000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001495e+06,2.00000,0.000000,1.000000,5.000000,9.000000,5866.000000
50%,1.003031e+06,7.00000,0.000000,5.000000,9.000000,14.000000,8062.000000
75%,1.004417e+06,14.00000,1.000000,8.000000,15.000000,16.000000,12073.000000
max,1.006040e+06,20.00000,1.000000,18.000000,18.000000,18.000000,23961.000000

In [16]:
# 擷取部分資料-只看女性顧客
df.loc[df["Gender"]=="F",:]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
30,1000010,P00118742,F,36-45,1,B,4+,1,5,11.0,NaN,8886
31,1000010,P00297942,F,36-45,1,B,4+,1,8,NaN,NaN,5875
32,1000010,P00266842,F,36-45,1,B,4+,1,5,NaN,NaN,8854
33,1000010,P00058342,F,36-45,1,B,4+,1,3,4.0,NaN,10946
34,1000010,P00032442,F,36-45,1,B,4+,1,5,NaN,NaN,5152
35,1000010,P00105942,F,36-45,1,B,4+,1,5,NaN,NaN,7089
36,1000010,P00182642,F,36-45,1,B,4+,1,2,4.0,9.0,12909
37,1000010,P00186942,F,36-45,1,B,4+,1,5,12.0,NaN,8770
38,1000010,P00155442,F,36-45,1,B,4+,1,1,11.0,15.0,15212
39,1000010,P00221342,F,36-45,1,B,4+,1,1,2.0,5.0,15705
40,1000010,P00087242,F,36-45,1,B,4+,1,14,NaN,NaN,7947
41,1000010,P00111142,F,36-45,1,B,4+,1,1,15.0,16.0,18963
42,1000010,P00259342,F,36-45,1,B,4+,1,5,9.0,NaN,8718
43,1000010,P0094542,F,36-45,1,B,4+,1,2,4.0,9.0,16406
44,1000010,P00148642,F,36-45,1,B,4+,1,6,10.0,13.0,12642
45,1000010,P00312142,F,36-45,1,B,4+,1,8,NaN,NaN,10007
46,1000010,P00113242,F,36-45,1,B,4+,1,1,6.0,8.0,11562
47,1000011,P00192642,F,26-35,1,C,1,0,8,17.0,NaN,6171
48,1000011,P00110842,F,26-35,1,C,1,0,1,2.0,5.0,19327
49,1000011,P00189642,F,26-35,1,C,1,0,8,13.0,NaN,8027
65,1000016,P00244242,F,36-45,0,C,0,1,1,2.0,15.0,11755
...,...,...,...,...,...,...,...,...,...,...,...,...
537313,1004699,P00046142,F,18-25,0,C,4+,0,1,16.0,NaN,15258
537314,1004699,P00216142,F,18-25,0,C,4+,0,1,16.0,NaN,15517
537315,1004699,P00198742,F,18-25,0,C,4+,0,1,2.0,11.0,7830
537316,1004699,P00042942,F,18-25,0,C,4+,0,1,15.0,NaN,11700
537317,1004699,P00184442,F,18-25,0,C,4+,0,1,6.0,8.0,15788
537338,1004705,P00031042,F,18-25,0,C,0,1,8,NaN,NaN,7984
537339,1004705,P00085242,F,18-25,0,C,0,1,8,14.0,17.0,6081
537340,1004705,P00188742,F,18-25,0,C,0,1,8,14.0,17.0,9967
537341,1004705,P00314042,F,18-25,0,C,0,1,14,18.0,NaN,18717
537342,1004705,P00042842,F,18-25,0,C,0,1,5,NaN,NaN,7053
537343,1004705,P00117842,F,18-25,0,C,0,1,5,13.0,16.0,7151
537344,1004705,P00087242,F,18-25,0,C,0,1,14,NaN,NaN,18583
537345,1004705,P00165842,F,18-25,0,C,0,1,14,NaN,NaN,11396
537346,1004705,P00348242,F,18-25,0,C,0,1,8,NaN,NaN,9908
537404,1004719,P00070042,F,36-45,9,C,4+,0,1,2.0,16.0,19012
537462,1004726,P00069042,F,36-45,16,C,2,1,3,NaN,NaN,13528
537463,1004726,P00148642,F,36-45,16,C,2,1,6,10.0,13.0,20229
537464,1004726,P00058042,F,36-45,16,C,2,1,8,16.0,NaN,7927
537465,1004726,P00216342,F,36-45,16,C,2,1,3,4.0,5.0,10915
537466,1004726,P00024342,F,36-45,16,C,2,1,8,14.0,NaN,5846
537467,1004726,P00036842,F,36-45,16,C,2,1,1,14.0,16.0,15206
537468,1004726,P00302642,F,36-45,16,C,2,1,16,NaN,NaN,4144
537469,1004726,P00296042,F,36-45,16,C,2,1,8,13.0,16.0,7986
537470,1004726,P00132042,F,36-45,16,C,2,1,13,16.0,NaN,572
537471,1004726,P00034842,F,36-45,16,C,2,1,5,14.0,NaN,7177
537472,1004726,P00037142,F,36-45,16,C,2,1,1,2.0,5.0,11845
537473,1004726,P00058442,F,36-45,16,C,2,1,5,14.0,NaN,5155
537474,1004726,P00303242,F,36-45,16,C,2,1,5,8.0,NaN,8626
537475,1004727,P00295942,F,55+,0,C,3,0,2,5.0,15.0,12826
537476,1004727,P00351142,F,55+,0,C,3,0,1,8.0,17.0,15898